/*o asteristico representa todo o conteudo, no caso aqui estou zerando a margem e o padding
é importante de resetar o CSS antes de estilizar qualquer elemento de uma página, 
pois essa parte do código limpa todos os padrões dos navegadores. Para resetar os padrões dos navegadores de forma simples utilizamos as propriedades margin, que define a área de margem nos quatro lados do elemento (cima, direita, baixo, esquerda), e padding, que define a área de preenchimento interna nos mesmos quatro lados do elemento, ambas com valor igual à 0.*/
*{
    margin: 0;
    padding: 0;
}

.apresentacao{
    text-align: center;
}
/*Estilizar o menu*/
.OpcoesMenu{
    width: 100%;
    display: flex;
    background-color: #643843;
    color: #E7CBCB;
    justify-content: center;
}
.a{
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    margin: 2%;
}
a button{
    cursor: pointer; /* Altera o cursor para uma mão ao passar sobre o botão */
    background-color: #ede6e6; /* Exemplo de cor azul */
    font-size: 16px; /* Exemplo de tamanho de fonte em pixels */
    border: 1px solid #ccc; /* Exemplo de borda com 1 pixel de largura e cor cinza */


}
/**.b{
    justify-content: space-between;
    text-align: center; 
    margin: 2%;  
    align-content: space-around;
}**/

/*Estilizar corpo*/
body {
    background-color:#E7CBCB ;
    color: #643843 ;
    box-sizing: border-box;/*para que sempre esteja dentro do elemento pai*/
    display: flex;
    flex-direction: column;
    align-content: stretch;
}


.quemSomos{
    margin: 3%;
    
}
.quemSomos h2{
    text-align: center;
}
.imgHotelInicio{
    width: 100%; /* Faz a imagem ocupar 100% da largura da div */
    height: auto;
}











.destaqueParagrafo{
    color: #5F6F52 ;
}

